$light-color: hsl(240, 78%, 98%);
$medium-light-color: hsl(234, 14%, 74%);
$light-dark-color: hsl(233, 13%, 49%);
$dark-color: hsl(232, 13%, 33%);
$linear-gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);

$font: "Montserrat", sans-serif;
$font-size: 15px;
